/venv/
/.idea/
/Госуслуги/
/avito.csv
/avito.db
/chromedriver.exe
/proba/
/index.html
/Poem 2022-09-03 11.47.48.docx
/Poem 2022-09-03 16.39.17.docx
/test.html
/test.py
/test.txt
/y_marcet.csv
/Книга1.xlsx
/config.txt
